body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbar global styles */
html, body {
  scrollbar-width: thin;
  scrollbar-color: #00ff9d #181c1f;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  background: #181c1f;
}
::-webkit-scrollbar-thumb {
  background: #00ff9d;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00cc7e;
}
